<script>
import { useRecordsStore } from '@/stores'

export default {
  el: '#table',
  data() {
    return {
      offset: 0,
      perPage: 10,
      recordsStore: useRecordsStore()
    }
  },
  methods: {
    getRecords() {
      const offset = this.offset
      const limit = this.perPage
      this.recordsStore.getRecords(offset, limit)
    },
    movePages(amount) {
      const newOffset = this.offset + amount * this.perPage
      if (newOffset >= 0 && newOffset < this.recordsStore.total) {
        this.offset = newOffset
      }
      this.getRecords()
    }
  },
  created() {
    this.getRecords()
  }
}
</script>

<template>
  <div id="table" class="col-sm-12">
    <div class="offset">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Record</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="r in recordsStore.records">
            <td>{{ r }}</td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation">
        <div id="page-navigation">
          <button @click="movePages(-1)">Back</button>
          <p>{{ offset / perPage + 1 }} out of {{ Math.ceil(recordsStore.total / perPage) }}</p>
          <button @click="movePages(1)">Next</button>
        </div>
      </nav>
    </div>
  </div>
</template>

<style>
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

table {
  border: 2px solid #676767;
  border-radius: 3px;
  background-color: #fff;
}

th {
  background-color: #676767;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 120px;
  padding: 10px 20px;
}

#page-navigation {
  display: flex;
  margin-top: 5px;
}

#page-navigation p {
  margin-left: 5px;
  margin-right: 5px;
}

#page-navigation button {
  background-color: #676767;
  border-color: #676767;
  color: rgba(255, 255, 255, 0.66);
}
</style>
